/* Базовые стили, изменять не нужно */
.block {
  background-color: rgba(0, 255, 255, 0.2);
}

/* Пользовательские стили */
.block-1 {
  border: 20px solid white;
}

.block-2 {
  margin: 20px; 
  padding: 20px;
}

.text-input {
  box-sizing: border-box;
  width: 520px;
}
