ul:nth-of-type(even) > li{
    background-color: #ff3300;
}

ul:nth-of-type(3) > li:nth-of-type(3){
    background-color: #339933;
}

ul:nth-of-type(1) > li:nth-of-type(odd){
    background-color: #0099ff;
}