.palette-small, .part {
    display: flex;
}

.palette-box:nth-child(1) .palette-small,
.palette-box:nth-child(2) .palette-small{
    flex-direction: column-reverse;
    justify-content: center;
}

.palette-box:nth-child(1) .palette-small .color-4, .color-3 {
    align-self: center;
}

.palette-box:nth-child(1) .palette-small .color-4 {
    order: -1;
}

.palette-box:nth-child(1) .palette-small .color-3 {
    order: 1;
}

.palette-box:nth-child(2) .palette-small {
    justify-content: space-between;
}

.palette-box:nth-child(2) .palette-small .color-2, .color-6{
    align-self: flex-end;
}

.palette-box:nth-child(2) .palette-small .color-4, .color-1{
    align-self: flex-start;
}

.palette-box:nth-child(3) .palette-small {
    justify-content: space-between;
}

.palette-small .part {
    flex-direction: column;
    justify-content: space-between;
}

.palette-box:nth-child(4) .palette-small {
    justify-content: space-between;
}

.palette-box:nth-child(4) .palette-small .part .color-3 {
    order: -1;
}

.palette-box:nth-child(4) .palette-small .part:nth-child(1) {
    flex-direction: row;
}