html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  line-height: 30px;
}

body {
  min-width: 550px;
  min-height: 290px;
  padding: 10px;
}

.two-cards {
  width: 350px;
  height: 250px;
  padding: 10px;
  text-align: center;
}

.two-cards div {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 180px;
  margin: 0 10px;
  margin-top: 30px;
  vertical-align: middle;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Ширина иконок, не изменяйте */
.two-cards div::before,
.two-cards div::after {
  width: 20px;
}

/* Поворот нижней иконки */
.two-cards div::after {
  transform: rotate(180deg);
}

.ace-heart{
  background-size: 50px auto;
  background-image: url(../img/heart.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.two-spade{
  background-size: 50px auto;
  background-image: url(../img/spade.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.ace-heart::before{
    content: "A";
    font-weight: bold;
    font-size: 25px;
    color: red;
    position: absolute;
    padding-bottom: 20px;
    top: 5px;
    left: 5px;
    background-size: 25px auto;
    background-image: url(../img/heart.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
}

.ace-heart::after{
  content: "A";
  font-weight: bold;
  font-size: 25px;
  color: red;
  position: absolute;
  padding-bottom: 20px;
  right: 5px;
  bottom: 5px;
  background-size: 25px auto;
  background-image: url(../img/heart.svg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.two-spade::before{
  content: "2";
  font-weight: bold;
  font-size: 25px;
  color: black;
  position: absolute;
  padding-bottom: 20px;
  top: 5px;
  left: 5px;
  background-size: 25px auto;
  background-image: url(../img/spade.svg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.two-spade::after{
  content: "2";
  font-weight: bold;
  font-size: 25px;
  color: black;
  position: absolute;
  padding-bottom: 20px;
  right: 5px;
  bottom: 5px;
  background-size: 25px auto;
  background-image: url(../img/spade.svg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
}