ul:nth-last-child(2) > li{
    background-color: #ff3300;
}

li:nth-last-child(2){
    background-color: #339933;
}

.cards:nth-last-child(2) li:nth-last-child(2){
    background-color: #0099ff;
}