body {
    width: 540px;
    min-height: 290px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Arial",sans-serif;
    color: #fff;
    background-color: #3a78a1;
    background-image: url(../img/grid.png);
    background-repeat: repeat;
    background-position: -80px -80px;
}
body, html {
    margin: 0;
    padding: 0;
}