li:nth-last-of-type(2){
    background-color: #339933;
} 

ul:nth-last-of-type(2) > li{
    background-color: #ff3300;
}

ul:nth-last-of-type(2) > li:nth-last-of-type(2){
    background-color: #0099ff;
}