body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    min-width: 1200px;

}

a {
    text-decoration: none;
    color: inherit;
}

.container {    
    width: 1170px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.header-nav {
    display: flex;
    flex-direction: column;
    padding-top: 124px;
    padding-bottom: 40px;
}

.header-nav-logo {
    margin: 0 auto;
}

.header-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    padding-top: 70px;
    margin: 0;
}

.header-nav-list-item:hover{
    border-bottom: 1px solid #D90000;
}

.header-nav-list-item {
    position: relative;
    padding-bottom: 4px;
}

.slides {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 495px;
}

.slide {
    position: relative;
}

.current-slide-header {
    position: absolute;
    left: 60px;
    top: 255px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    width: 623px;
    margin: 0;
}

.slide-header {
    position: absolute;
    top: 68px;
    left: 30px;
    width: 243px;
    margin: 0;

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}


.current-slide-number {
    position: absolute;
    left: 75px;
    top: 240px;
    font-style: italic;
    font-weight: 300;
    font-size: 28px;
    line-height: 30px;
    color: #FFFFFF;
    margin: 0;
}


.current-button {
    position: absolute;
    left: 60px;
    top: 379px;
}

.slide-button {
    position: absolute;
    top: 160px;
    left: 30px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #FFFFFF;
    border-radius: 1px;
}

.current-slide {
    position: relative;
}

.slider-ovals {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.slider-oval {
    width: 13px;
    height: 13px;
    opacity: 0.4;
    border: 1px solid #4f4f4f;
    border-radius: 50%;
    margin: 6px;
}

.slider-ovals .active {
    background-color: #4f4f4f;
    opacity: 1;
}

.buildings-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 100px;

    width: 246px;
    height: 38px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    
    background: #D90000;
    border-radius: 60px;
}

.modern-buildings-slides {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 731px;
}

.modern-current-slide{
    position: relative;
    display: flex;
    flex-direction: column; 
}
.modern-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 50px;
    width: 715px;
}

.modern-slide-bottom{
    margin-top: 20px;
    max-height: 245px;
}

.modern-header {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.13em;
    text-transform: uppercase;

    color: #000000;
}

.modern-header:hover {
    border-bottom: 1px solid #D90000;
}

.old-header{
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.13em;
    text-transform: uppercase;

    color: #000000;
}

.old-buildings-slides{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    max-height: 494px;
}

.old-buildings-slide{
    max-width: 540px;
    max-height: 386px;
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.old-buildings-slide-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    max-width: 303px;
    max-height: 346px;
}

.old-buildings-current-slide{
    position: relative;
    display: flex;
    flex-direction: column; 
    max-width: 579px;
    max-height: 426px;
}

.email-sending-section{
    background-color: #F3F3F7;
    height: 218px;
    padding-top: 94px;
}

.email-label {
    height: 44px;
    margin-bottom: 30px;
}
.old-buildings{
    margin-bottom: 100px;
}

.email-sending{
    max-height: 124px;
    max-width: 798px;
    margin-left: 198px;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;

    color: #333333;
}

input[type="email"] {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    padding-left: 20px;
    width: 350px;
    height: 50px;
    display: flex;
    align-items: center;

    color: #9A9A9A;
    box-sizing: border-box;
    border: 2px solid #9A9A9A;
}

input[type="submit"] {
    width: 200px;
    height: 50px;
    background: #1A1A1A;
    border-radius: 1px;
    margin-left: 15px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}

.email-inputs{
    display: flex;
    justify-content:space-between;
}

.socials {
    background-color: #1A1A1A;
    width: 100%;
    height: 140px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.social-links-item {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 20px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #5E5E5E;
}
